.session-form {
  background-image: image-url("venue.jpg");
  background-size: cover;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
}

.login-form-container {
  padding-top: 100px;
  padding-left: 400px;
  font-family: 'Helvetica Neue', serif;
  justify-content: center;
  text-decoration: none;
}

a{
  text-decoration: none;
}

#log-in-to-pley {
  padding-bottom: 20px;
  color: firebrick;
  font-weight: bold;
  font-size: 150%;
}

#new-to-pley {
  font-size: 18px;
  color: white;
}

.sign-up-link {
  color: white;
}

#submit:input{
  height: 5vh;
}

.auth-form-input{
  height: 3vh;
  margin: 3px;
  width: 30%;
  font-size: 15px;
  box-shadow: 10px;
}


.sign-up-for-pley{
  padding-bottom: 20px;
  color: firebrick;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Helvetica Neue', serif;
  margin-left: 400px;
  margin-top: 20px;
}

.signup-form-container {
  padding-top: 100px;
  padding-left: 400px;
  font-family: 'Helvetica Neue', serif;
  justify-content: center;
}

#auth-form-button {
  background: firebrick;
  width: 31%;
  color: white;
  height: 5vh;
  font-size: 15px;
  font-weight: bold;
}

.errors {
  color: firebrick;
}

.form-guest {
  color: white;
  font-weight: bold;
}

.form-guest:hover {
  cursor: pointer;
}

.already-on-pley {
  font-weight: bold;
  color: white;
}
