.login-form-container {
  padding-top: 100px;
  padding-left: 400px;
  font-family: 'Helvetica Neue';
  justify-content: center;
}

#log-in-to-pley {
  padding-bottom: 20px;
  color: red;
  font-weight: bold;
  font-size: 150%;
}

#new-to-pley {
  font-weight: bold;
}

.login-form {
  padding-bottom: 10px;
}

.user-input {
  width: 200%;
}

#sign-up-for-pley{
  padding-bottom: 20px;
  color: red;
  font-weight: bold;
  font-size: 150%;
}

.signup-form-container {
  padding-top: 100px;
  padding-left: 400px;
  font-family: 'Helvetica Neue';
  justify-content: center;
}
