.hdrbtn {

  font-family:'Helvetica Neue', serif;
  font-weight: bold;
}

.login-buttons {
  justify-content: flex-end;
  display: flex;
  padding-right: 250px;
  padding-top: 40px;
  z-index: 100;
  color: white;
}

.log-out-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 250px;
  padding-top: 40px;
  z-index: 100;
  color: white;
}

.log-out-button button {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: white;
  padding: 8px 30px;
  font-family:'Helvetica Neue', serif;
  font-weight: bold;
  background: none;
  border: none;
  font-size: 16px;
  color: white;
}

.log-out-button button:hover {
  cursor: pointer;
}

#logout {
  font-family:'Helvetica Neue', serif;
}



#guest {
  padding: 8px 30px;
}

#guest:hover{
  background-color: white;
  color: grey;
  cursor: pointer;
  border-radius: 5px;
}


#signup {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: white;
  padding: 8px 30px;
  color: white;
}

#signup:hover{
  background-color: white;
  color: grey;
}

#login:hover{
  border-bottom: 2px solid white;
}

#login {
  color: white;
  margin-right: 27px;
  padding: 8px 12px;

}
