.welcome {
  // height: 5vh;
  background-image: image-url("doughnut.jpg");
  background-size: cover;
}

#doughnut-image-container {
  position: absolute;
  z-index: -5;
}

#dougnut-image {
  height: 100vh;
  width: 100vw;
}

#welcome-search-container{
  height: 100vh;
  padding-top: 25vh;

}

// #search-form-box {
//   display: flex;
// }

#search-form-input {
  height: 4vh;
  width: 75vh;
  font-size: 17px;
}

input#search-form-button {
  background: white;
  height: 4vh;
}

#search-form{
  display: flex;
  justify-content: center;
  height: 20px;
  font-family: 'Helvetica Neue';
}

#search-form-button {
  height: 5vh;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}




// .auth-form-input{
//   height: 3vh;
//   margin: 3px;
//   width: 30%;
//   font-size: 15px;
//   box-shadow: 10px;
// }
