.log-in-to-review {
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 400px;
  font-family:'Helvetica Neue';
  font-size: 22px;
}

.business-reviews{
  margin-top: 100px;
}

.fa-star {
  color: firebrick;
  padding-right: 3px;
  font-size: 21px;
}

.stars {
  padding-left: 2vw;;
  padding-bottom: 8px;
  // display: block;
}

#review-index {
  // margin-top: 5vh;
  padding-left: 30%;
  padding-right: 30%;
  font-family:'Helvetica Neue';
  width: 500px;
  word-wrap: break-word;
  // margin-right: 30vw;
}

.review-title {
  font-weight: bold;
  font-size: 24px;

}

.review-container {
  display: flex;
  padding-top: 70px;
  // margin-right: 20%;
  // width: 60%;
}

.review-container div {
  width: 100%;
}


.review-text {
  display: block;
  padding: 30px;
  width: 100%;
}

.review-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  background: firebrick;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
  width: 100px;
  height: 60px;

  // float: right;
}

.review-buttons-container {
    // padding-left: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // float: right;
  // position: fixed;
}

#update-button{
  margin-top: 20px;
}

#delete-button{
  // margin-left: 2px;
}

.review-form {
  // border-top: 1px solid orange;
  padding-left: 31%;
  padding-top: 8%;
  font-family:'Helvetica Neue';
  // margin-right: 20%;
  width: 69%;
}


.rating{
  list-style-type: none;
  display: flex;
}

#submit-review-button {
  // margin-bottom: 80px;
}

.review-form-inputs {
  // float: right;
  display: flex;
  flex-direction: column;
  padding-right: 40%;
}

// #show-page-info{
//   border-style: none;
//   // background: grey;
// }
#submit-update-review-button {
  height: 90px;
}

.body-input {
  height: 150px;
  width:300px;
  font-size: 16px;
}

.title-input {
  border: 1px solid;
  margin: 5px 0;
  width: 305px;
  font-size: 24px;
}
