.log-in-to-review {
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 400px;
  font-family:'Roboto';
  font-size: 22px;
}

.business-reviews{
  margin-top: 100px;
}

.fa-star {
  color: firebrick;
  padding-right: 3px;
  font-size: 21px;
}

.stars {
  padding-left: 2vw;;
  padding-bottom: 8px;
}

#review-index {
  margin-left: 30%;
  font-family:'Roboto';
  width: 500px;
  word-wrap: break-word;
  border-right: 1px solid lightgray;
  position: relative;
}

.review-title {
  font-weight: bold;
  font-size: 24px;

}

.review-container {
  display: flex;
  padding-top: 70px;
  border-top: 1px solid lightgray;
  width: 92%;
}

.review-container div {
  width: 100%;
}

.review-text {
  display: block;
  padding: 30px;
  width: 140%;
  font-size: 14px;
}

.review-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  background: firebrick;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
  width: 100px;
  height: 60px;
}

.review-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#update-button{
  margin-top: 20px;
}

.review-form {
  padding-left: 31%;
  padding-top: 8%;
  font-family:'Roboto';
  width: 69%;
}


.rating{
  list-style-type: none;
  display: flex;
}



.review-form-inputs {
  display: flex;
  flex-direction: column;
  padding-right: 40%;
}

#submit-update-review-button {
  height: 90px;
}

.body-input {
  height: 150px;
  width:300px;
  font-size: 16px;
}

.title-input {
  border: 1px solid;
  margin: 5px 0;
  width: 305px;
  font-size: 24px;
}
