#search-header-results-container ul{
  padding-top: 3vh;

  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: firebrick;

}

.business-login-buttons{

}

.business-log-out-button{
  margin-left: 10px;
}
