.load-wheel {
  background-image: image-url("rolling.svg");
  background-size: cover;
  position: fixed;
}

.search-header-results-container {
  background: firebrick;
  width: 100%;
  min-width: 900px;
  height: 100px;
  .logo-wrapper {
    float: left;
    width: 100px;
    margin-top: 10px;
  }
  margin: 0 auto;
}


.nav-links {
  width: 66%;
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-right: 8%;
}

.nav-logo {
  width: 100%;
  margin-left: 6vw;
  margin-top: 1vh;
}

.no-results {
  font-family:'Helvetica Neue', serif;
  list-style: none;
  margin-left: 20vw;
  margin-right: 2vw;
}

#no-result-query {
  font-weight: bold;
}

#business-search {
  position: fixed;
}

.nav-logo-container {
}

.magnifying-glass-container {
  width: 160px;
  height: 80px;
}

.magnifiying-glass {
  background: firebrick;
  color: white;
  border: none;
  font-size: 16px;
  width: 120%;
  height: 120%;
}

button#business-logout{
  text-align: center;
  margin-left: 140px;
  font-family:'Helvetica Neue', serif;
  font-weight: bold;
  background: firebrick;
  border-width: 0px;
  color: white;
  border-radius: 3px;
  font-size: 13px;
}

button#business-logout:hover {
  cursor: pointer;
}


a.business-hdrbtn {
  margin-left: 10px;
  font-family:'Helvetica Neue', serif;
  font-weight: bold;
  background: firebrick;
  border-width: 1px;
  border-color: black;
  color: white;
  border-radius: 3px;
  font-size: 13px;
}

a.business-hdrbtn {
  cursor: pointer;
}

.business-info{
  display: flex;
  margin: 0 25% 10% 25%;
  list-style: none;
  font-family: 'Helvetica Neue', serif;
}

.search-form-container {
  position: fixed;
}

.business-info-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  min-width: 1200px;
}

.business-name{
  padding-left: 2vw;
  padding-bottom: 2vh;
  font-size: 20px;
}

.business-price-and-tags{
  padding-left: 2vw;
  display: flex;

}

.business-address-and-phone-number{
  padding-top: 2vh;
  padding-left: 20vw;
}

#business-tags{
  padding-left: 1vw;
}

.show-page {
  display: flex;
  flex-direction: column;
}

.show-page-info {
  display: flex;
  flex-direction: row;
}

.index-map {
  height: 300px;
  width: 300px;
  margin-left: 100px;
}

.index-stars {
  margin-left:2vw;
}
