.search-header-results-container {
  background: firebrick;
  width: 100%;
  height: 100px;
  .logo-wrapper {
    float: left;
    width: 100px;
    margin-top: 10px;
  }
}

.business-login-buttons{
  margin-left: 10px;
}

.search-header-results-container > ul {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-right: 15%;
}

.nav-logo {
  width: 100%;
  margin-left: 6vw;
}

#search-form {
  // margin: 0 auto;
  // display: block;
}



.nav-logo-container {
  // display: flex;
}

button#business-logout{
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
  font-family:'Helvetica Neue';
  font-weight: bold;
  background: firebrick;
  border-width: 0px;
  color: white;
  border-radius: 3px;
  font-size: 13px;
}

ul.business-login-buttons {
  margin-bottom: 20px;
}

a.business-hdrbtn {
  margin-left: 10px;
  font-family:'Helvetica Neue';
  font-weight: bold;
  background: firebrick;
  border-width: 1px;
  border-color: black;
  color: white;
  border-radius: 3px;
  font-size: 13px;
}

a.business-hdrbtn {
  cursor: pointer;
}

.business-info{
  display: flex;
  margin: 0 30% 10% 30%;

  list-style: none;
  font-family: 'Helvetica Neue';
  // border-bottom-style: solid;
  // // border-bottom-color: orange;
  // border-width: 1px;

}

.business-info-container {
  padding-top: 40px;
}

.business-name{
  padding-left: 2vw;
  padding-bottom: 2vh;
  font-size: 20px;
}

.business-price-and-tags{
  padding-left: 2vw;
  display: flex;

}

.business-address-and-phone-number{
  padding-top: 2vh;
  padding-left: 20vw;
}

#business-tags{
  padding-left: 1vw;
}

#show-page-info {
  padding-top: 200px;
}

.business-reviews {
  padding-top: 500px;
}
