.business-name-show {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Helvetica Neue';
}

#business-show-search{
  background: firebrick;
}

#show-page-info {
  list-style: none;
  display: flex;
  // padding-left: 30vw;
  margin: 0 auto;
  background-color: whitesmoke;
  width: 100%
}

#show-stars {
  font-size: 30px;
}



.business-show-price-and-tags {
  font-family: 'Helvetica Neue';
  display: flex;
  // padding-left: 2vw;
  padding-top: 1vh;
  font-size: 24px;
}

.business-show-address-and-phone-number {
  list-style: none;
  // margin-left: 80px;
  font-family: 'Helvetica Neue';


  font-size: 20px;
  background-color: whitesmoke;
  // padding-bottom: 5vh;
}

.show-title{
  width: 100%;
  max-width: 1100px;
  // display: flex;
  margin: 0 auto;
}

.business-review-text {
  width: 50%;
}

.business-review-photos {
  margin-left: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.image:hover {
  transform: scale(1.2);
}

.image {
  width: 250px;
}

.map {
  height: 150px;
  width: 300px;
}
