.business-name-show {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Roboto';
}

#business-show-search{
  background: firebrick;
  min-width: 900px;
}

#show-page-info {
  list-style: none;
  margin: 0 auto;
  background-color: whitesmoke;
  width: 100%
}

#show-stars {
  font-size: 25px;
}



.business-show-price-and-tags {
  font-family: 'Roboto';
  display: flex;
  padding-top: 1vh;
  font-size: 17.5px;
}

.business-show-text {
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 1vh;
  padding: 0 1vw;
  position: absolute;
  width: 300px;
  opacity: 1;
}

.show-place-holder {
  opacity: 0;
  width: 40vw;
}

.business-show-address-and-phone-number {
  list-style: none;
  font-family: 'Roboto';
  font-size: 15px;
}

.show-title{
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.business-review-text {
  width: 50%;
}

.business-review-photos {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  // max-width: 100px;

}

.image:hover {
  transform: scale(1.1);
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.map {
  height: 150px;
  width: 300px;
}

.business-show-bold {
  font-weight: bold;
}
